@charset "UTF-8";

body {
    background:rgb(70, 142, 236);
    font: normal 20px Arial, sans-serif;
}

header {
    color: white;
}

section {
    background: white;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.356);

    width: 500px;
    padding: 15px;
    margin: auto;
}

select#flista {
    width: 150px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}